/*style.css

Gère le style de la globalité de l'interface
*/

/*--------------
|    debug     |
--------------*/

/*affichage des bordures pour le debuggage*/
/*div, header
{
    border : 1px solid black;
}*/

/*----------------
|    En-tête     |
----------------*/

/*En-tête de la page*/
header
{
    background-color : gray;
    text-align : center;
    
    /*width : 80%       //<-- bug O_o
    height : 12%;*/

    padding-top : 1px;
    padding-bottom : 1px;

    margin-left : 8%;
    margin-right : 8%;

    /*Bordures*/
    border : 1px solid gray;
    border-radius : 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

/*--------------------
|    Menu gauche     |
--------------------*/

/*Menu le plus à gauche*/
#leftMenu
{
    /*position et dimensions*/
    position : fixed;
    top : 12%;
    width : 15%;
    height : 82%;

    background-color : LightSlateGray;
}

/*Bloc de liste du menu de gauche*/
#leftMenu ul
{
    list-style-type : none;
    text-align : center;
    background-color : SlateGray;

    position : relative;

    /*marges intérieures*/
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 15px;
    padding-bottom : 15px;

    /*marges extérieures*/
    margin-top : 50px;
    margin-bottom : 20px;

    /*border : 1px solid black;*/
}

/*Items du menu de gauche*/
#leftMenu li
{
    font-size : 18px;
    /*background-color : SlateGray;*/

    /*padding : 5px;*/
    padding-top : 6px;
    padding-bottom : 8px;

    border : 1px solid SlateGray;   /*pour ne pas avoir de décalages du texte lors de l'apparition de la bordure 
                                      (lors du passage de la souris). Doit concorder avec la couleur de fond et la
                                      bordure de #leftMenu li:hover*/
}

/*En cas de "survol" des items du menu de gauche*/
#leftMenu li.item:hover
{
    background-color : DimGray;
    border : 1px solid black;
}

/*Masquage des liens des items du menu de gauche*/
#leftMenu a
{
    color : black;
    text-decoration : none;
    /*border : 1px solid black;*/
    padding : 5px 25%;
}

#leftMenu hr
{
    /*border : 1px solid black;*/
    /*padding-top : 1px;
    padding-bottom : 1px;*/
    margin-top : 1px;
    margin-bottom : 1px;
}

/*-------------------------------------
|    "Section option" in left menu    |
-------------------------------------*/

/*Gère le menu d'options intégré au menu de gauche*/
#leftMenuWithOpt
{
    width : 80%;
    height : auto;
    /*height : 30%;     /*possibilité d'interchanger pour un rendu plus proche du rendu final*/
    margin : auto;

    margin-top : 30px;
    padding-top : 5px;
    padding-bottom : 5px;

    background-color : #B8B8B8;

    /*Bordures*/
    border : 2px solid black;
    border-radius : 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

/*Caractéristiques des boutons dans la zone d'options*/
#leftMenuWithOpt input
{
    display : block;
    font-size : 16px;
    width : 80%;
    margin : auto;

    margin-top : 2px;
    margin-bottom : 2px;
}

#leftMenuWithOpt hr
{
    margin : 3px 5px;
    padding : 1px;
}

/*--------------------------
|    Menu form section     |
--------------------------*/

#menuForm
{
    position : absolute;
    top : 12%;
    left : 15%;
    width : 82%;
    min-height : 80%;

    /*padding-top : 20px;*/
    /*padding-left : 3%;*/
    margin-left : 10px;
}

#menuForm hr
{
    width : 90%;
    margin-top : 50px;
    margin-bottom : 30px;
}

#menuForm table
{
    text-align : center;

    margin-top : 40px;
    margin : auto;
    width : 80%;

    border-spacing : 0px;   /*remplace 'border-collapse' pour pouvoir arrondir les angles du tableau*/
}

#menuForm table td, #menuForm table th
{
    border-radius : 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#menuForm table caption
{
    font-size : 24px;

    padding : 28px;
}

#menuForm table th, #menuForm table tr td
{
    padding : 8px 16px;
    border : 1px solid black;
}

#menuForm table th
{
    background-color : Bisque;
}

#menuForm > form > input
{
    position : relative;
    left : 12%;
    width : 150px;
    height : 35px;

    margin-top : 25px;
    margin-bottom : 15px;
    margin-left : 35px;
}

#menuForm table > tfoot th
{
    border : none;
    background-color : white;
}

#menuForm table > tfoot input
{
    width : 135px;
    height : 35px;

    margin-top : 15px;
    margin-bottom : 15px;
}

/*Masquage des liens du tableau de menus*/
#menuForm a
{
    color : black;
    text-decoration : none;
}


#menuForm form table tbody tr td.checkbox
{
    background-color : Beige;
}

#menuForm input.action_modif[type=submit]
{
	background : url(sprites/modifier.png) top right no-repeat;

    width : 32px;
    height : 32px;

	padding : 0 0 0 10px;
	cursor : pointer;
	border : 0;
}

#menuForm input.action_suppr[type=submit]
{	
	background : url(sprites/supprimer.png) top right no-repeat;

    width : 32px;
    height : 32px;

	padding : 0 0 0 10px;
	cursor : pointer;
	border : 0;
}

/*-------*/
#annivForm
{
    position : absolute;
    top : 12%;
    left : 15%;
    width : 82%;
    min-height : 80%;

    /*padding-top : 20px;*/
    /*padding-left : 3%;*/
    margin-left : 10px;
}

#annivForm hr
{
    width : 90%;
    margin-top : 50px;
    margin-bottom : 30px;
}

#annivForm table
{
    text-align : center;

    margin-top : 40px;
    margin : auto;
    width : 80%;

    border-spacing : 0px;   /*remplace 'border-collapse' pour pouvoir arrondir les angles du tableau*/
}

#annivForm table td, #annivForm table th
{
    border-radius : 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#annivForm table caption
{
    font-size : 24px;

    padding : 28px;
}

#annivForm table th, #annivForm table tr td
{
    padding : 8px 16px;
    border : 1px solid black;
}

#annivForm table th
{
    background-color : Bisque;
}

#annivForm > form > input
{
    position : relative;
    left : 12%;
    width : 150px;
    height : 35px;

    margin-top : 25px;
    margin-bottom : 15px;
    margin-left : 35px;
}

#annivForm table > tfoot th
{
    border : none;
    background-color : white;
}

#annivForm table > tfoot input
{
    width : 135px;
    height : 35px;

    margin-top : 15px;
    margin-bottom : 15px;
}

/*Masquage des liens du tableau de menus*/
#annivForm a
{
    color : black;
    text-decoration : none;
}


#annivForm form table tbody tr td.checkbox
{
    background-color : Beige;
}

#annivForm input.action_modif[type=submit]
{
	background : url(sprites/modifier.png) top right no-repeat;

    width : 32px;
    height : 32px;

	padding : 0 0 0 10px;
	cursor : pointer;
	border : 0;
}

#annivForm input.action_suppr[type=submit]
{	
	background : url(sprites/supprimer.png) top right no-repeat;

    width : 32px;
    height : 32px;

	padding : 0 0 0 10px;
	cursor : pointer;
	border : 0;
}
/*------*/


#draggableSurface
{
    /*border : 1px solid black;*/
    
    /*position : absolute;*/
    min-width : 80%;
    margin-left : 10px;
}

#draggableSurface .draggableText
{
    position : absolute;
    left : 0px;
    top : 0px;

    background-color : lightgray;

    text-align : center;
    font-size : 20px;
    max-width : 19%;
    min-width : 13%;
    min-height : 34px;
    /*width : 16%;  <- pour éviter le redimensionnement des box quand on s'approche du bord ?*/
    padding : 10px 5px;
    padding-right : 25px;

    /*L'utilisateur ne doit pas pouvoir sélectionner le texte de l'élément qui possède cette propriété CSS*/
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*Modification de l'apparence du curseur*/
    cursor : move;

    /*Bordures*/
    border : 2px solid grey;
    border-radius : 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    
    /*Opacité*/
    filter : alpha(opacity = 85);
    -moz-opacity : 0.85;
    opacity : 0.85;
}

/*Souline les titres (jours) des boxes a déplacer*/
#draggableSurface .draggableText > strong
{
    text-decoration : underline;
}

/*#draggableSurface .draggableText > p
{
    border : 1px solid black;
    font-size : 20px;
    opacity : 1.0;
}*/

#draggableSurface #default_dragSurface
{
    border : 1px solid black;

    position : absolute;
    width : 80%;
    height : 100%;

    visibility : visible;
}

#draggableSurface #backgroundDnD
{
    border : 1px solid black;
}

#topForm_renderPage
{
    /*border : 1px solid black;*/
    width : 80%;
    margin : auto;

    /*padding-left : 25%;*/
}

#topForm_renderPage input
{
    width : 18%;
    height : 30px;
    margin : 2px 10px;
}

/*----------------------------------
|    Render & preview sections     |
----------------------------------*/

#mainDiv_renderPage
{
    text-align : center;
    font-size : 20px;
    max-width : 19%;
    min-width : 13%;
    /*width : 16%;  <- pour éviter le redimensionnement des box quand on s'approche du bord ?*/
    padding : 10px 5px;
}

#mainDiv_renderPage p strong
{
    text-decoration : underline;
}

/*------------------------
|    Parsing section     |
------------------------*/

#parsingForm
{
    position : absolute;
    top : 12%;
    left : 15%;
    width : 82%;
    min-height : 75%;

    /*padding-top : 20px;*/
    /*padding-left : 3%;*/
    margin-left : 20px;
    padding-top : 20px;

    border : 1px solid black;
}

#parsingForm form
{
    width : 80%;
    margin : auto;
}

#parsingForm form fieldset label
{
    margin-top : 80px;  /*<---- bug O_o*/
    /*border : 1px solid black;*/
}

#parsingForm form fieldset input
{
    margin-bottom : 10px;
}

/*-------------------------------
|    Parsed results section     |
-------------------------------*/

#parsed_topBtn
{
    width : 65%;
    padding-left : 15px;
    /*border : 1px solid black;*/
}

#parsed_topBtn input
{
    width : 200px;
    margin-left : 2%;
}

#parsed_resultList
{
    position : absolute;
    top : 12%;
    left : 17%;
    width : 82%;
    min-height : 80%;

    padding-bottom : 20px;
}

.parsed_listItem
{
    border : 1px solid gray;

    position : relative;

    padding : 5px 10px;
    margin-top : 10px;

    width : 1000px;
}

.parsed_listItem h3.parsed_title
{
    background-color : #90EE90;
    position : relative;

    margin-bottom : 5px;
    padding-left : 5px;
}

.parsed_listItem img.parsed_img
{
    display : inline;
    vertical-align : top;

    position : absolute;
    top : 55px;
    left : 10px;

    float : left;
}

.parsed_listItem .parsed_divText
{
    position : relative;

    top : 0px;
    left : 135px;

    max-width : 850px;
}

.parsed_listItem p.parsed_text
{
    position : relative;

    top : -20px;
}

.parsed_listItem .parsed_category
{
    text-align : right;

    position : relative;
    top : -37px;
    right : 5px;
}

/*----------------------
|    Infos section     |
----------------------*/

#infoForm
{
    position : absolute;
    top : 12%;
    left : 17%;
    width : 82%;
    min-height : 80%;

    padding-bottom : 20px;
}

#infoForm input.action_modif[type=submit]
{
	background : url(sprites/modifier.png) top right no-repeat;

    width : 32px;
    height : 32px;

	padding : 0 0 0 10px;
	cursor : pointer;
	border : 0;
}

#infoForm input.action_suppr[type=submit]
{	
	background : url(sprites/supprimer.png) top right no-repeat;

    width : 32px;
    height : 32px;

	padding : 0 0 0 10px;
	cursor : pointer;
	border : 0;
}

#infoForm hr
{
    width : 90%;
    margin-top : 50px;
    margin-bottom : 30px;
}

#infoForm table
{
    text-align : center;

    margin-top : 40px;
    margin : auto;
    width : 80%;

    border-spacing : 0px;   /*remplace 'border-collapse' pour pouvoir arrondir les angles du tableau*/
}

#infoForm table td, #infoForm table th
{
    border-radius : 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#infoForm table caption
{
    font-size : 24px;

    padding : 28px;
}

#infoForm table th, #infoForm table tr td
{
    padding : 8px 16px;
    border : 1px solid black;
}

#infoForm table th
{
    background-color : Bisque;
}

#infoForm > form > input
{
    position : relative;
    left : 12%;
    width : 150px;
    height : 35px;

    margin-top : 25px;
    margin-bottom : 15px;
    margin-left : 35px;
}

#infoForm table > tfoot th
{
    border : none;
    background-color : white;
}

#infoForm table > tfoot input
{
    width : 135px;
    height : 35px;

    margin-top : 15px;
    margin-bottom : 15px;
}

/* Formatage de la zone de texte */
#infoForm table tbody tr td textarea
{
    width : 60%;
    height : 100px;

    margin-top : 15px;
    margin-bottom : 15px;
}

/* Mise en forme des checkbox à l'intérieur du tableau */
#infoForm form table tbody tr td.checkbox
{
    background-color : Beige;
}

/*#draggableSurface p.draggableText
{
    position : relative;
    width : 30px;
    height : 90px;
    border : 1px solid black;
}*/

#draggableSurface p.draggableText input
{
    width : 18px;
    height : 18px;

	padding : 0px;
    margin : 0px;
	cursor : pointer;
	border : 0;

    position : absolute;
}

#draggableSurface p.draggableText input.incFont
{
	background : url(sprites/plus.png) top right no-repeat;
    /*position : relative;
    top : -10px;
    left : 100px;*/
}

#draggableSurface p.draggableText input.decFont
{
	background : url(sprites/moins.png) top right no-repeat;
    /*position : relative;
    top : 20px;
    left : 65px;*/
}

#draggableSurface p.draggableText input.hideBox
{
	background : url(sprites/interdit.png) top right no-repeat;
    /*position : relative;
    top : 60px;
    left : 30px;*/
}



